.navbar {
	background-color: var(--header-background-color);
	height: 60px;
	padding: 0px !important;
	justify-content: space-between;

	.dropdown > a {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
		font-size: 1.4rem;
	}

	.dropdown a img.selected {
		width: 28px;
	}

	.small-logo {
		display: none;
	}

	.menu-toggle-wrapper {
		display: flex;
		font-size: 24px;
		align-items: center;
		justify-content: center;
		padding: 0 1rem;

		.menu-toggle-icon {
			width: auto;
		}
	}
}

.nav-link {
	color: var(--header-text-color);
}

.nav-link:hover {
	color: var(--header-link-hover-color);
}

.height-60 {
	height: 60px;
}

.language-flag {
	width: 20px;
}

/* Display dropdown menu left side */
.dropleft .dropdown-menu {
	margin-top: 0;
	margin-right: .125rem;
	right: 0%;
	left: auto;
	top: 60px;
}

.dropdown-menu-lg {
	width: 300px;
}

.dropdown-menu {
	background-color: var(--item-background-color);
	color: var(--item-text-color);
	border: 1px solid var(--item-border-color);
	margin-top: 0px;
}

.dropdown-item {
	color: var(--item-text-color);
	font-size: 14px;
	display: flex;
	padding: .55rem 1.5rem;
	align-items: center;

	a .fas, a .far, a .fa {
		font-size: 20px;
	}

	:focus, :hover {
		color: var(--item-hover-text-color);
		text-decoration: none;
		background-color: var(--item-hover-background-color);
	}
}

.dropdown-divider {
	border-top: .05rem solid var(--item-border-color);
}

.open-dropdown {
	display: block;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

@media (max-width: 823px) {
	.navbar .small-logo {
		display: flex;
		font-size: 30px;
		align-items: center;
		justify-content: center;
		height: 60px;
		padding: 0 1rem;
		background-color: var(--background-color);
	}
}

/* Search - Start */
.app-search {
	padding: calc(10px) 10px;
}

.app-search .form-control {
	border: none;
	height: 38px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--background-color);
	box-shadow: none;
	border-radius: 30px;
	color: var(--element-text-color);
}

.app-search .search-icon {
	position: absolute;
	/*z-index: 10;
    font-size: 13px;
    line-height: 38px;
    right: 13px;
    top: 0px;*/
	right: 12px;
	top: 12px;
	cursor: pointer;
	color: var(--color);
}

@media (min-width: 992px) {
	.d-lg-block {
		display: block !important;
	}
}
/* Search - End */
