.noti-icon .badge {
	position: absolute;
	top: 10px;
	right: 7px;
	font-size: 10px;
}

@mixin notification {
	.notification {
		border: none;

		.card-header {
			font-size: .95rem;
			font-weight: 700;
		}

		.notification-item {
			.notification-wrapper {
				display: flex;
				padding: .75rem .3rem;

				.notification-content {
					flex: 1;

					.card-title {
						font-size: .875rem;
						color: var(--color);
					}

					.card-text {
						font-size: .75rem;
						color: var(--item-text-color);
					}
				}

				.notification-avatar {
					height: 2.3rem;
					width: 2.3rem;

					.avatar-title {
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						background-color: var(--avatar-background-color);
						color: var(--avatar-color);
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						font-weight: 500;
						height: 100%;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						width: 100%;
					}
				}
			}
		}

		a.notification-item {
			text-decoration: none;
			display: flex;
		}

		a.notification-item:focus {
			text-decoration: none;
		}

		a.notification-item:hover {
			text-decoration: none;
			background-color: var(--item-hover-background-color);
		}

		.card-footer .btn-link {
			text-decoration: none;
			font-size: 14px;
		}
	}
}

.notification-header-container {
	@include notification;

	.notification {
		.card-body {
			max-height: 230px;
			overflow-y: auto;
		}
	}

	.notification-item {
		.notification-wrapper {
			.notification-content {
				.card-text {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1; /* number of lines to show */
					-webkit-box-orient: vertical;
				}
			}
		}
	}
}

.notification-page-container {
	@include notification;

	.notification {
		.card-body {
			height: auto !important;
			overflow-y: auto;
		}
	}
}

.notification-detail-container {
	@include notification;
}
