.page-loader {
	position: fixed;
	z-index: 9999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);


	.loading {
		position: relative;
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background-color: var(--flashing-light-dot-color);
		color: var(--flashing-dark-dot-color);
		animation: dotFlashing 1s infinite linear alternate;
		animation-delay: .5s;
		position: fixed;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			left: -20px;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			background-color: var(--flashing-dark-dot-color);
			color: var(--flashing-dark-dot-color);
			animation: dotFlashing 1s infinite alternate;
			animation-delay: 0s;
		}

		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			left: 20px;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			background-color: var(--flashing-dark-dot-color);
			color: var(--flashing-dark-dot-color);
			animation: dotFlashing 1s infinite alternate;
			animation-delay: 1s;
		}
	}
}

@keyframes dotFlashing {
	0% {
		background-color: var(--flashing-dark-dot-color);
	}

	50%, 100% {
		background-color: var(--flashing-light-dot-color);
	}
}
